@page
@model WebAppMwo.Pages.Movie.IndexModel
@{
    ViewData["Title"] = "Movie page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to movie</h1>
    <h2>Movie site</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>